* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			background-color: #000000;
		}

		header {
			margin: 20px;
			background-color: #000000;
			border: 2px dotted #0f5ea5;
			border-radius: 10px;
		}

		html {
			overflow-x: hidden;
			scroll-padding-top: 9vh;
			scroll-behavior: smooth;
		}
	
		html::-webkit-scrollbar {
			width: .4rem;
		}
	
		html::-webkit-scrollbar-track {
			background: transparent;
		}
	
		html::-webkit-scrollbar-thumb {
			background: #7eb1d7;
			border-radius: 3rem;
		}

		#logo {
			float: right;
			margin: 12px 10px 0px 20px;
		}
		
		.facebook {
			background: url('../images/facebook.png') no-repeat 0 0;
			width: 40px;
			height: 40px;
			transition: transform 0.3s;
		}
		
		.insta {
			background: url('../images/insta.png') no-repeat 0 0;
			width: 40px;
			height: 40px;
			transition: transform 0.3s;
		}
		
		.twt {
			background: url('../images/twt.png') no-repeat 0 0;
			width: 40px;
			height: 40px;
			transition: transform 0.3s;
		}
		
		.facebook:hover,.insta:hover,.twt:hover {
			transform: scale(1.1);
		}	

		#menu {
			display: flex;
			background-color: #000000;
			justify-content: left;
			flex-direction: row;
			font-size:20px;
			border-radius: 10px;
			font-family: Garamond;
		}

		#menu > div {
			background-color: #000000;
			padding: 12px;
			margin:10px;
		}

		#menu div a {
			text-decoration: none;
			color: #0f5ea5;
		}

		.menu-history {
			border-right: 2px solid #0f5ea5;
			border-radius: 10px;
		}

		.menu-home {
			border-right: 2px solid #0f5ea5;
			border-radius: 10px;
			padding:10px;
		}

		.menu-inspo {
			border-right: 2px solid #0f5ea5;
			border-radius: 10px;
		}
		
		.menu-abominations {
			border-right: 2px solid #0f5ea5;
			border-radius: 10px;
		}
		
		.menu-tipsntricks {
			border-right: 2px solid #0f5ea5;
			border-radius: 10px;
		}

		.whole {
			border: 2px dotted #0f5ea5;
			border-radius: 10px;
			margin: 0 150px 20px;
			animation: transitionIn 0.75s;
		}

		.whole p {
			color:white;
			font-size: 15px;
			text-align: center;
			font-family: Garamond;
			margin: 50px 10px 10px 10px;
		}

		@keyframes transitionIn {
			from {
				opacity: 0;
				transform: rotateX(-10deg);
			}

			to {
				opacity: 1;
				transform: rotateX(0);
			}
		}

		#content {
			display: flex;
			flex-direction: row;
			background-color: #04090d;
			border-radius: 50px;
			margin: 30px;
			padding: 20px;
			border-bottom: 2px dotted #0c1b27;
		}

		.minititle {
			color:white;
			text-align: center;
		}

		.content-right h1 {
			color: #dde7ef;
			font-family: Garamond;
			text-align: center;
			margin: 0 0 -25px ;
		}

		.content-left {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
		}

		.hover-container {
			height: 100%;
			width: 100%;
			position: relative;
			overflow:inherit;
		}

		.hidden-text{
			position: absolute;
            top: 0;
            left: 0;
            height: 100%;
			width: 100%;
            background-color:#04090d;
			color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
			font-family: Garamond;
			font-size: 15px;
		}

		.hover-container:hover .hidden-text {
            opacity: 1;
        }

		#content2 {
			display: flex;
			flex-direction: row;
		}

		#content2 > div {
			flex: 1;
			padding: 0 20px;
			box-sizing: border-box;
		}	

		#content3 {
			display: flex;
			flex-direction: row;
			margin: 50px;
			border: 2px border #0f5ea5;
		}
		
		#content3 > div {
			flex: 1;
			padding: 0 20px;
			box-sizing: border-box;
		}	

		#content4 {
			display: flex;
			flex-direction: row;
			margin: 50px;
			border: 2px border #0f5ea5;
		}
		
		#content4 > div {
			flex: 1;
			padding: 0 20px;
			box-sizing: border-box;
		}
		
		#content5 {
			display: flex;
			flex-direction: row;
			margin: 50px;
			border: 2px border #0f5ea5;
		}
		
		#content5 > div {
			flex: 1;
			padding: 0 20px;
			box-sizing: border-box;
		}

		#content6 {
			display: flex;
			flex-direction: row;
			margin: 50px;
			border: 2px border #0f5ea5;
		}
		
		#content6 > div {
			flex: 1;
			padding: 0 20px;
			box-sizing: border-box;
		}



		  
